<div class="card d-flex flex-col p-2">
	<div class="card-title d-flex flex-col">
		<h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
	</div>
	<p class="card-body">{{content}}</p>
	<p>Posted by {{user.username}} on {{created_at}}</p>
	<div class="card-actions d-flex justify-content-end">
		<button class="btnComments py-1 px-3 btn btn-outline-secondary"><a
				href="/comment"
			>See Comment </a></button>

		<button class="btnEdit py-1 px-3 btn btn-outline-secondary">Edit</button>

		<button class="btnDelet py-1 px-3 btn btn-outline-secondary">Delete</button>
	</div>
</div>